<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <link rel="stylesheet" href="/css/memberform.css">
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

  <script th:inline="javascript">
    $(document).ready(function(){
      var errorMessage = [[${errorMessage}]];
      if(errorMessage != null){
        alert(errorMessage);
      }

      // 파일 선택 시 미리보기 업데이트
      $("#profileImg").change(function(event) {
        var reader = new FileReader();
        reader.onload = function(e) {
          $('#previewImg').attr('src', e.target.result).show();
          $('#noImageText').hide(); // '프로필 이미지 없음' 텍스트 숨김
          $('#removeImgBtn').show(); // 'x' 버튼 표시
        };
        reader.readAsDataURL(this.files[0]);
      });

      // 이미지 삭제 기능
      $('#removeImgBtn').click(function() {
        $('#profileImg').val(''); // 파일 입력 필드 초기화
        $('#previewImg').hide(); // 미리보기 이미지 숨기기
        $('#noImageText').show(); // '프로필 이미지 없음' 텍스트 다시 보이기
        $(this).hide(); // 'x' 버튼 숨기기
      });
    });
  </script>

</th:block>

<div class="container mt-5" layout:fragment="content">

  <form action="/signup" role="form" method="post" th:object="${memberFormDto}" enctype="multipart/form-data">

    <!-- 프로필 이미지 업로드 -->
    <div class="form-group mb-3">
      <label th:for="profileImg">프로필 이미지</label>
      <input type="file" id="profileImg" th:field="*{profileImg}" class="form-control" accept="image/jpeg, image/png, image/jpg">
      <p th:if="${#fields.hasErrors('profileImg')}" th:errors="*{profileImg}" class="error">Incorrect data</p>
    </div>

    <!-- 업로드된 이미지 미리보기 -->
    <div class="form-group mb-3" style="position: relative;">
      <div>
        <img id="previewImg" class="img-thumbnail" style="max-width: 150px; max-height: 150px; display: none;">
        <span id="noImageText">프로필 이미지 없음</span>
        <!-- 'x' 버튼 추가 -->
        <button type="button" id="removeImgBtn" class="btn btn-danger" style="position: absolute; top: -10px; right: -10px; display: none; padding: 5px 10px; border-radius: 50%;">&times;</button>
      </div>
    </div>

    <!-- 아이디 입력 -->
    <div class="form-group mb-3">
      <label th:for="name">아이디</label>
      <input type="text" th:field="*{name}" class="form-control" placeholder="아이디를 입력해주세요">
      <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error">Incorrect data</p>
    </div>

    <!-- 이메일 입력 -->
    <div class="form-group mb-3">
      <label th:for="email">이메일주소</label>
      <input type="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력해주세요">
      <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error">Incorrect data</p>
    </div>

    <!-- 비밀번호 입력 -->
    <div class="form-group mb-3">
      <label th:for="password">비밀번호</label>
      <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호 입력">
      <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error">Incorrect data</p>
    </div>

    <!-- 주소 입력 -->
    <div class="form-group mb-3">
      <label th:for="address">주소</label>
      <input type="text" th:field="*{address}" class="form-control" placeholder="주소를 입력해주세요">
      <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="error">Incorrect data</p>
    </div>

    <!-- 전화번호 입력 -->
    <div class="form-group mb-3">
      <label th:for="phone">전화번호</label>
      <input type="text" th:field="*{phone}" class="form-control" placeholder="전화번호를 입력해주세요">
      <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="error">Incorrect data</p>
    </div>

    <!-- 회원 가입 버튼 -->
    <div style="text-align: center">
      <button type="submit" class="btn btn-success">회원 가입</button>
    </div>

    <!-- CSRF 토큰 -->
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

  </form>

</div>

</html>
